<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Add users " subheader="You can add or edit users here">
  <div class="grid mb-5">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <p-button  label="Create" icon="pi pi-plus" styleClass="p-button-primary mr-1" (onClick)="authService.SignUp(userEmail.value,userEmail.value)"></p-button>
                        <p-button routerLink="/users"  label="Cancel" icon="pi pi-arrow-circle-left" styleClass="p-button-secondary"></p-button>
                    </div>
                </p-toolbar>
                
            </div>
        </div>
        <div class="grid">
           
            <div class="col-12">

                <form>
                    <div class="card">
                    
                        <div class="formgrid grid">
                            <div class="field col">
                                <label for="firstname2" >UserEmail</label>
                                <input id="firstname2" type="email" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" #userEmail>
                            </div>
                            <!-- <div class="field col">
                                <label for="lastname2">UserName</label>
                                <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" #userName>
                            </div>
                            -->
                        </div>
                        <div class="formgrid grid">
                            <!-- <div class="field col-6">
                                <label for="state">Role</label>
                                <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                                    <option>User</option>
                                    <option>Admin</option>  
                                </select>
                            </div> -->
                            <div class="field col">
                                
                                <label for="lastname2">Password</label>
                                <input id="lastname2" type="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" #userPassword>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>

        </div>
    </p-card>
   
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>