<div class="admin-sidebar">
    <div class="logo">
        <img src="/assets/boxs.png" alt="">
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/dashboard" ><i class="pi pi-home"></i>Dashboard</a>
            </li>
          
        </ul>
        <ul>
            <li>
                <a routerLink="/products"><i class="pi pi-wallet"></i>Product</a>
            </li>
        </ul>
        <ul>
            <li>
                <a routerLink="/stock-category"><i  class="pi pi-eject"></i>Stock</a>      
            </li>
          
        </ul>
        <ul>
            <li>
                <a  routerLink="/users"><i class="pi pi-user"></i>Users</a>
            </li>
          
        </ul>
        <ul>
            <li>
                <a  routerLink="/customers"><i class="pi pi-user-edit"></i>Customers</a>
            </li>
          
        </ul>
        <ul>
            <li>
                <a routerLink="daily-manage"><i  class="pi pi-shopping-bag"></i>Daily Manage</a>
            </li>
           
        </ul>
        <ul>
            <li>
                <a routerLink="add-loans"><i class="pi pi-money-bill"></i>Manage Loans</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="logout" routerLink="/login"><i class="pi pi-sign-out"></i>Logout</a>
            </li>
          
        </ul><br><br><br>
        
        <ul>
           
            <li>
                <a class="tango" >TANGO STOCK <br>achillesoh15<br>@gmail.com</a>
            </li>
        </ul>
        
    </div>
</div>