<p-toast></p-toast>

<div class="login-register">
    <div class="login-register-panel">
        <div class="grid">
            <div class="col-6">
                <img src="" alt="">
            </div>
            <div class="col-6 p-5">
                <h3>Welcome to <i class="pi pi-user-edit"></i></h3>
                <h2>TANGO STOCK</h2>
                <form>
                    <div class="grid mt-6">
                       
                        <div class="col-12">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" pInputText placeholder="Email" ngModel name="email" #userEmail='ngModel' required>         
                            </div>
                            <div *ngIf="userEmail.touched &&  userEmail.invalid">
                                <small id="username-help" *ngIf="userEmail.errors?.required"class="p-error">Email cannot be empty</small>
                                <small id="username-help" *ngIf="userEmail.errors?.email" class="p-error">Please enter valid Email Address</small>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                <input type="text" pInputText placeholder="Password" name="password" ngModel #userPassword='ngModel' required>   
                                
                            </div>
                            <div *ngIf="userPassword.touched &&  userPassword.invalid">
                                <small id="username-help" *ngIf="userPassword.errors?.required"class="p-error">Password is Required</small>
                            </div>
                        </div>
                        <div class="col-12">
                            <p-button label="Login" styleClass="full-btn" (onClick)="authService.SignInMethod(userEmail.value, userPassword.value)"></p-button>
                        </div>
                        <div class="col-12">
                            <p-button label="Google" styleClass="full-btg p-button-danger" (onClick)="authService.GoogleAuth()"><i class="pi pi-google"></i></p-button>
                        </div>
                       
                        <div class="col-12">
                            <p-button label="Facebook" styleClass="full-btg p-button-secondary" (onClick)="authService.FacebookAuth()"><i class="pi pi-facebook"></i></p-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>